.add {
    width: 100%;
    display: flex;
    gap: .8rem;
    margin-top: calc(0px - 2rem - 7px);
    margin-bottom: 6.4rem;
}

.add input {
    width: 100%;
    padding: 1.6rem;
    background: var(--gray-500);
    border: none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--gray-100);
}

.add input::placeholder {
    color: var(--gray-300);
}

.add button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    gap: .8rem;
    background: var(--blue-200);
    border-radius: 8px;

    font-weight: 700;
    font-size: 1.4rem;
    color: var(--gray-100);

}